@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&display=swap");

:root {
  --btn-github: #333;
  --btn-linkedin: #0e76a8;
  --hover-linkedin: #13a5e9;
  --btn-whatsapp: #25d366;
  --hover-whatapp: #2bf575;

  --bg-home: #202020;
  --bg-header: #050404f1;
  --color-h: #5353f5;
  --orange: #ff8400;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1a1a1a;
}

/* header start */
.header {
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 30px 30px;
}

li:hover {
  cursor: pointer;
  background: var(--orange);
  color: #000;
  transition: 1.5s;
}

.header a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 1.3em;
  /* opacity: 0.8; */
}

.header a:hover {
  transition: 1s;
}

.header img {
  width: 2.5em;
  display: flex;
  justify-content: start;
  border-radius: 50%;
  margin-right: 40px;
}
/* header end */

/* ************************* */

/* HOME START */

/* foto de leo */
.home img {
  width: 20%;
  margin-right: 8em;
  box-shadow: 2px 2px 800px 2px gray;
  border-radius: 50%;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: var(--bg-home);
  font-family: "Comfortaa", cursive;
}

.home div h2 {
  color: gray;
  font-size: 1.1rem;
  margin-bottom: 0.2em;
  letter-spacing: 0.1em;
}

.home h1 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home div h1 span {
  color: var(--orange);
}

.home div p {
  color: rgb(249, 249, 249);
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

.btn {
  text-decoration: none;
  transition: 1s;
  background: #000;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  letter-spacing: 0.1em;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  color: #ffffff;
}

.btn:hover {
  transition: 1s;
  background: var(--orange);
  color: #090909;
}

/* HOME END */

/* PROJECTS START*/

/* card dos módulos */
.card {
  width: 250px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 50px #0d0400ca;
  border-top: 2px solid  #7b685a;
  border-left: 2px solid #7b685a;
  transition: 1s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

/* card Header */

.card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-header h1 {
  color: #fff;
  font-size: 1.4em;
  margin-top: 3.5em;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card-img-fund {
  width: 300px;
  height: 220px;
}

/* card Body */
.card-body {
  background-color: #0c0c0cfc;
  height: 100px;
  padding: 20px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.card-body h2 {
  color: var(--orange);
}

.card-body h3 a {
  text-align: center;
  color: var(--color-h);
  transition: 1s;
  margin-top: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

.card-body h3 a:hover {
  text-align: center;
  color: var(--orange);
  transition: 1s;
}

.card-local {
  font-size: 1.2rem;
  /* margin: 10px 0; */
}

.card-title {
  color: rgb(247, 126, 5);
  font-size: 0.9em;
  margin: 15px 0;
}

.card-text {
  color: antiquewhite;
  font-size: 0.9rem;
  width: 250px;
  margin: 0 auto;
}

.backend2 a {
  text-decoration: none;
  color: var(--orange);
  font-size: 1.5em;
  font-weight: 600;
  transition: 1s;
  background: #1a1a1a;
  margin-left: 50px;
}

/* card Body */

/* ************************* */

/* PROJECTS START */

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color: #1a1a1a;
}

/* ABOUT START */

.about {
  background-color: #050505;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about img {
  width: 20%;
  margin-right: 4em;
  box-shadow: 2px 2px 800px 2px var(--orange);
  border-radius: 50%;
}

.about h1 {
  color: #fff;
  font-size: 2.2em;
  margin-bottom: 20px;
}

.about p {
  color: #eeeef8;
  font-size: 1.3em;
  margin-bottom: 2em;
  line-height: 1.3em;
}

.about h1 span {
  color: var(--orange);
  margin-bottom: 20px;
}

/* CONTACT START*/

.contact {
  background-color: #050505;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.contact div a {
  font-size: 1.5em;
  font-weight: bold;
}

.contact div h1 {
  margin-bottom: 30px;
  margin-left: 0.2em;
  color: #fff;
  font-size: 1.7em;
}

.contact div h1 span {
  color: var(--orange);
  font-size: 1em;
}

.contact .back-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
}

/* .contact .back-home a {
  color: var(--color-h);
  font-size: 1em;
} */

/* CONTACT END */

/* START BTN  */
.btn-linkedin {
  background-color: var(--btn-linkedin);
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.btn-linkedin:hover {
  background-color: var(--hover-linkedin);
  color: rgb(251, 251, 251);
  transition: 0.5s;
  cursor: pointer;
}

.btn-github {
  background-color: var(--btn-github);
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 1s;
}

.btn-github:hover {
  background-color: #8f8f999c;
  color: aliceblue;
  transition: 0.9s;
  cursor: pointer;
}

.btn-whatsapp {
  background-color: var(--btn-whatsapp);
  color: aliceblue;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 1s;
}

.btn-whatsapp:hover {
  background-color: var(--hover-whatapp);
  color: rgb(255, 255, 255);
  transition: 0.9s;
  cursor: pointer;
}

/* BTN END  */

/* Voltar */
/* .btn.back {
    background-color: var(--btn-github);
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: 1s;
    margin-top: 230px;
  }

.btn-back a {
  display: flex;
  margin-top: 230px;

  background-color: var(--btn-github);
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: 1s;
}

.btn-back a:hover {
  color: #000;
  background-color: var(--orange);
  transition: 1s;
  font-weight: bold;
} */
