@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&display=swap");

:root {
  --btn-github: #333;
  --btn-linkedin: #0e76a8;
  --hover-linkedin: #13a5e9;
  --btn-whatsapp: #25d366;
  --hover-whatapp: #2bf575;

  --bg-home: #202020;
  --bg-header: #050404f1;
  --color-h: #5353f5;
  --orange: #ff8400;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1a1a1a;
}

/* icon  */
.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  font-size: 3em;
  margin-top: 20px;
}

.material-symbols-outlined a{
  background-color: #00000000;
  text-decoration: none;
  color: #00fff2;
}

/* header start */
.header {
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 30px 30px;
}

li:hover {
  cursor: pointer;
  background: var(--orange);
  color: #000;
  transition: 1.5s;
}

.header a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 1.3em;
  /* opacity: 0.8; */
}

.header a:hover {
  transition: 1s;
}

.header img {
  width: 2.5em;
  display: flex;
  justify-content: start;
  border-radius: 50%;
  margin-right: 40px;
}
/* header end */

/* CONTACT START*/


/* CONTACT END */

/* START BTN  */


/* BTN END  */
