.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: "Comfortaa", cursive;
}

.about .container {
  width: 100%;
}

.about .container .info img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30em;
  height: 30em;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40%;
  height: 50%;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

  .about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 60%;
  }

  .about img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 10em;
    border-radius: 1em;
    position: sticky;
  }

  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 80%;
  }

  .about .container .info img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    width: 120%;
    height: 120%;
    top: 0;
  }
  
}

