nav,
ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 30px 30px;
}

li:hover {
  cursor: pointer;
  background: var(--orange);
  color: #000;
  transition: 1.5s;
}

.header {
  background-color: var(--bg-header);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  font-size: 1.3em;
  /* opacity: 0.8; */
}

.header a:hover {
  transition: 1s;
}

.header img {
  width: 2.5em;
  display: flex;
  justify-content: start;
  border-radius: 50%;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: none;
  }

  .header img {
    width: 0px;
  }

  .header a {
    font-size: .7em;
    /* margin-bottom: 20px; */
  }

  li {
    padding: 10px 10px;
    font-size: 1.5em;
    color: #fff;
  }

  li:hover {
    background: none;
    color: #000;
    transition: 1.5s;
    background-color: var(--orange);
  }

}